<?xml version="1.0" encoding="utf-8" ?>
<Option>
  <SmartSemicolon>true</SmartSemicolon>
  <圆括号自动补全>true</圆括号自动补全>
  <方括号自动补全>true</方括号自动补全>
  <单引号自动补全>true</单引号自动补全>
  <双引号自动补全>true</双引号自动补全>
  <SmartKeyTemplates>
    <SmartKey Key="1=" Value="!="/>
    <SmartKey Key="`=" Value="!="/>
    <SmartKey FileType=".cs" Key="&lt;> " Value="!= "/>
    <SmartKey FileType=".cs" Key="===" Value="=>"/>
    <SmartKey FileType=".cs" Key=">>>" Value="=>"/>
    <SmartKey FileType=".cs" Key=".." Value="->"/>
    <SmartKey FileType=".cs" Key="、、" Value="//"/>
    <SmartKey FileType=".cs" Key="``" Value="!"/>
  </SmartKeyTemplates>
  <SurroundTemplates>
    <Template Name="()" Key="(">
(...)
    </Template>
    <Template Name="{}" Key="{">
{
    ...
}
    </Template>
    <Template Name="cast" Key="?">
(|)...
    </Template>
    <Template Name="if" Key="i">
if (|)
{
    ...
}
    </Template>
    <Template Name="for" Key="f">
for (|)
{
    ...
}
    </Template>
    <Template Name="while" Key="w">
while (|)
{
    ...
}
    </Template>
    <Template Name="do" Key="d">
do
{
    ...
} while(|)
    </Template>
    <Template Name="lock" Key="l">
lock (|)
{
    ...
}
    </Template>
    <Template Name="using" Key="u">
using (|)
{
    ...
}
    </Template>
    <Template Name="try" Key="t">
try
{
    ...
}|
    </Template>
    <Template Name="region" Key="r">
#region |

...

#endregion
    </Template>
  </SurroundTemplates>
</Option>